 <%- include("./partials/header") %>

<link rel="stylesheet" href="/stylesheets/show.css">
<script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>


<div class="jumbotron jumbotron-fluid">
 <div class="container">
  <h1 class="display-1 text-info"><%=student.name%> <i class="far fa-smile-wink"></i></i></h1>
  <p class="lead display-4 text-danger"><%=student.usn%></p>
  <p class="lead display-4 text-danger"><%=student.semester%></p>
 </div>
</div>


<div class="container">

<h1 class="display-1 text-info">SEM1</h1>
<div class="sem1">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem1.sub1.sub11%></td>
      <td><%=student.sem1.sub1.credits11%></td>
      <td><%=student.sem1.sub1.grade11%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem1.sub2.sub12%></td>
      <td><%=student.sem1.sub2.credits12%></td>
      <td><%=student.sem1.sub2.grade12%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem1.sub3.sub13%></td>
      <td><%=student.sem1.sub3.credits13%></td>
      <td><%=student.sem1.sub3.grade13%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem1.sub4.sub14%></td>
      <td><%=student.sem1.sub4.credits14%></td>
      <td><%=student.sem1.sub4.grade14%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem1.sub5.sub15%></td>
      <td><%=student.sem1.sub5.credits15%></td>
      <td><%=student.sem1.sub5.grade15%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem1.sub6.sub16%></td>
      <td><%=student.sem1.sub6.credits16%></td>
      <td><%=student.sem1.sub6.grade16%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem1.sub7.sub17%></td>
      <td><%=student.sem1.sub7.credits17%></td>
      <td><%=student.sem1.sub7.grade17%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem1.sub8.sub18%></td>
      <td><%=student.sem1.sub8.credits18%></td>
      <td><%=student.sem1.sub8.grade18%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit2  ">hide</button>

<h1 class="display-1 text-info">SEM2</h1>
<div>
<div class="sem2">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem2.sub1.sub21%></td>
      <td><%=student.sem2.sub1.credits21%></td>
      <td><%=student.sem2.sub1.grade21%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem2.sub2.sub22%></td>
      <td><%=student.sem2.sub2.credits22%></td>
      <td><%=student.sem2.sub2.grade22%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem2.sub3.sub23%></td>
      <td><%=student.sem2.sub3.credits23%></td>
      <td><%=student.sem2.sub3.grade23%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem2.sub4.sub24%></td>
      <td><%=student.sem2.sub4.credits24%></td>
      <td><%=student.sem2.sub4.grade24%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem2.sub5.sub25%></td>
      <td><%=student.sem2.sub5.credits25%></td>
      <td><%=student.sem2.sub5.grade25%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem2.sub6.sub26%></td>
      <td><%=student.sem2.sub6.credits26%></td>
      <td><%=student.sem2.sub6.grade26%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem2.sub7.sub27%></td>
      <td><%=student.sem2.sub7.credits27%></td>
      <td><%=student.sem2.sub7.grade27%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem2.sub8.sub28%></td>
      <td><%=student.sem2.sub8.credits28%></td>
      <td><%=student.sem2.sub8.grade28%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit3">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit4">hide</button>
</div>
<div>
<h1 class="display-1 text-info">SEM3</h1>
<div>
<div class="sem3">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem3.sub1.sub31%></td>
      <td><%=student.sem3.sub1.credits31%></td>
      <td><%=student.sem3.sub1.grade31%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem3.sub2.sub32%></td>
      <td><%=student.sem3.sub2.credits32%></td>
      <td><%=student.sem3.sub2.grade32%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem3.sub3.sub33%></td>
      <td><%=student.sem3.sub3.credits33%></td>
      <td><%=student.sem3.sub3.grade33%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem3.sub4.sub34%></td>
      <td><%=student.sem3.sub4.credits34%></td>
      <td><%=student.sem3.sub4.grade34%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem3.sub5.sub35%></td>
      <td><%=student.sem3.sub5.credits35%></td>
      <td><%=student.sem3.sub5.grade35%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem3.sub6.sub36%></td>
      <td><%=student.sem3.sub6.credits36%></td>
      <td><%=student.sem3.sub6.grade36%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem3.sub7.sub37%></td>
      <td><%=student.sem3.sub7.credits37%></td>
      <td><%=student.sem3.sub7.grade37%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem3.sub8.sub38%></td>
      <td><%=student.sem3.sub8.credits38%></td>
      <td><%=student.sem3.sub8.grade38%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit5">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit6">hide</button>
</div>
    
</div>

<div>
<h1 class="display-1 text-info">SEM4</h1>
<div>
<div class="sem4">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem4.sub1.sub41%></td>
      <td><%=student.sem4.sub1.credits41%></td>
      <td><%=student.sem4.sub1.grade41%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem4.sub2.sub42%></td>
      <td><%=student.sem4.sub2.credits42%></td>
      <td><%=student.sem4.sub2.grade42%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem4.sub3.sub43%></td>
      <td><%=student.sem4.sub3.credits43%></td>
      <td><%=student.sem4.sub3.grade43%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem4.sub4.sub44%></td>
      <td><%=student.sem4.sub4.credits44%></td>
      <td><%=student.sem4.sub4.grade44%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem4.sub5.sub45%></td>
      <td><%=student.sem4.sub5.credits45%></td>
      <td><%=student.sem4.sub5.grade45%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem4.sub6.sub46%></td>
      <td><%=student.sem4.sub6.credits46%></td>
      <td><%=student.sem4.sub6.grade46%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem4.sub7.sub47%></td>
      <td><%=student.sem4.sub7.credits47%></td>
      <td><%=student.sem4.sub7.grade47%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem4.sub8.sub48%></td>
      <td><%=student.sem4.sub8.credits48%></td>
      <td><%=student.sem4.sub8.grade48%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit7">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit8">hide</button>
</div>
    
</div>

<div>
<h1 class="display-1 text-info">SEM5</h1>
<div>
<div class="sem5">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem5.sub1.sub51%></td>
      <td><%=student.sem5.sub1.credits51%></td>
      <td><%=student.sem5.sub1.grade51%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem5.sub2.sub52%></td>
      <td><%=student.sem5.sub2.credits52%></td>
      <td><%=student.sem5.sub2.grade52%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem5.sub3.sub53%></td>
      <td><%=student.sem5.sub3.credits53%></td>
      <td><%=student.sem5.sub3.grade53%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem5.sub4.sub54%></td>
      <td><%=student.sem5.sub4.credits54%></td>
      <td><%=student.sem5.sub4.grade54%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem5.sub5.sub55%></td>
      <td><%=student.sem5.sub5.credits55%></td>
      <td><%=student.sem5.sub5.grade55%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem5.sub6.sub56%></td>
      <td><%=student.sem5.sub6.credits56%></td>
      <td><%=student.sem5.sub6.grade56%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem5.sub7.sub57%></td>
      <td><%=student.sem5.sub7.credits57%></td>
      <td><%=student.sem5.sub7.grade57%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem5.sub8.sub58%></td>
      <td><%=student.sem5.sub8.credits58%></td>
      <td><%=student.sem5.sub8.grade58%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit9">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit10">hide</button>
</div>
</div>

<div>
<h1 class="display-1 text-info">SEM6</h1>
<div>
<div class="sem6">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem6.sub1.sub61%></td>
      <td><%=student.sem6.sub1.credits61%></td>
      <td><%=student.sem6.sub1.grade61%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem6.sub2.sub62%></td>
      <td><%=student.sem6.sub2.credits62%></td>
      <td><%=student.sem6.sub2.grade62%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem6.sub3.sub63%></td>
      <td><%=student.sem6.sub3.credits63%></td>
      <td><%=student.sem6.sub3.grade63%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem6.sub4.sub64%></td>
      <td><%=student.sem6.sub4.credits64%></td>
      <td><%=student.sem6.sub4.grade64%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem6.sub5.sub65%></td>
      <td><%=student.sem6.sub5.credits65%></td>
      <td><%=student.sem6.sub5.grade65%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem6.sub6.sub66%></td>
      <td><%=student.sem6.sub6.credits66%></td>
      <td><%=student.sem6.sub6.grade66%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem6.sub7.sub67%></td>
      <td><%=student.sem6.sub7.credits67%></td>
      <td><%=student.sem6.sub7.grade67%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem6.sub8.sub68%></td>
      <td><%=student.sem6.sub8.credits68%></td>
      <td><%=student.sem6.sub8.grade68%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit11">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit12">hide</button>
</div>
</div>

<div>
<h1 class="display-1 text-info">SEM7</h1>
<div>
<div class="sem7">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem7.sub1.sub71%></td>
      <td><%=student.sem7.sub1.credits71%></td>
      <td><%=student.sem7.sub1.grade71%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem7.sub2.sub72%></td>
      <td><%=student.sem7.sub2.credits62%></td>
      <td><%=student.sem7.sub2.grade72%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem7.sub3.sub73%></td>
      <td><%=student.sem7.sub3.credits73%></td>
      <td><%=student.sem7.sub3.grade73%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem7.sub4.sub74%></td>
      <td><%=student.sem7.sub4.credits74%></td>
      <td><%=student.sem7.sub4.grade64%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem6.sub5.sub65%></td>
      <td><%=student.sem7.sub5.credits75%></td>
      <td><%=student.sem7.sub5.grade75%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem7.sub6.sub76%></td>
      <td><%=student.sem7.sub6.credits76%></td>
      <td><%=student.sem7.sub6.grade76%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem7.sub7.sub77%></td>
      <td><%=student.sem7.sub7.credits77%></td>
      <td><%=student.sem7.sub7.grade77%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem7.sub8.sub78%></td>
      <td><%=student.sem7.sub8.credits78%></td>
      <td><%=student.sem7.sub8.grade78%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit13">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit14">hide</button>
</div>
    
</div>

<div>
<h1 class="display-1 text-info">SEM8</h1>
<div>
<div class="sem8">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=student.sem8.sub1.sub81%></td>
      <td><%=student.sem8.sub1.credits81%></td>
      <td><%=student.sem8.sub1.grade81%></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=student.sem8.sub2.sub82%></td>
      <td><%=student.sem8.sub2.credits82%></td>
      <td><%=student.sem8.sub2.grade82%></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=student.sem8.sub3.sub83%></td>
      <td><%=student.sem8.sub3.credits83%></td>
      <td><%=student.sem8.sub3.grade83%></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%=student.sem8.sub4.sub84%></td>
      <td><%=student.sem8.sub4.credits84%></td>
      <td><%=student.sem8.sub4.grade84%></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%=student.sem8.sub5.sub85%></td>
      <td><%=student.sem8.sub5.credits85%></td>
      <td><%=student.sem8.sub5.grade85%></td>
    </tr>
        <tr>
      <th scope="row">6</th>
     <td><%=student.sem8.sub6.sub86%></td>
      <td><%=student.sem8.sub6.credits86%></td>
      <td><%=student.sem8.sub6.grade86%></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td><%=student.sem8.sub7.sub87%></td>
      <td><%=student.sem8.sub7.credits87%></td>
      <td><%=student.sem8.sub7.grade87%></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td><%=student.sem8.sub8.sub88%></td>
      <td><%=student.sem8.sub8.credits88%></td>
      <td><%=student.sem8.sub8.grade88%></td>
    </tr>
  </tbody>
</table>

</div>
<button class=" btn btn-danger btn-sm hit15">show <i class="fas fa-heart"></i></button>
<button class=" btn btn-danger btn-sm hit16">hide</button>
</div>


</div>

<div class="container">
    <a class="btn btn-outline-success btn-lg m-3 change">PRINTABLE</a>
</div>


  
 
 <script>
    //  $(".sem1").on("mouseover",function(){
    //      $(this).css("color","white");
    //  });
    //  $(".sem1").on("mouseout",function(){
    //      $(this).css("color","black");
    //  });
    $(".hit").on("click",function(){
         $(".sem1").show();
     });
      $(".hit2").on("click",function(){
         $(".sem1").hide();
     });
     $(".hit3").on("click",function(){
         $(".sem2").show();
     });
      $(".hit4").on("click",function(){
         $(".sem2").hide();
     });
       $(".hit5").on("click",function(){
         $(".sem3").show();
     });
      $(".hit6").on("click",function(){
         $(".sem3").hide();
     });
       $(".hit7").on("click",function(){
         $(".sem4").show();
     });
      $(".hit8").on("click",function(){
         $(".sem4").hide();
     });
       $(".hit9").on("click",function(){
         $(".sem5").show();
     });
      $(".hit10").on("click",function(){
         $(".sem5").hide();
     });
       $(".hit11").on("click",function(){
         $(".sem6").show();
     });
      $(".hit12").on("click",function(){
         $(".sem6").hide();
     });
       $(".hit13").on("click",function(){
         $(".sem7").show();
     });
      $(".hit14").on("click",function(){
         $(".sem7").hide();
     });
       $(".hit15").on("click",function(){
         $(".sem8").show();
     });
      $(".hit16").on("click",function(){
         $(".sem8").hide();
     });
      $(".change").on("click",function(){
          $("body").toggleClass("print");
          $("td").toggleClass("black");
         
      });
     
 </script>


<%- include("partials/footer") %>